<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.empty? == false%>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><%= f.select :from, @account.map{|x| x.name} %><br>
    
  </div>
  <div class="field">
    <%= f.label :to %><%= f.select :to, @account.map{|x| x.name} %><br>
    
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
  	
    <%= f.submit %>
  </div>
<% end %>
