<h1>Accounts Ledger</h1>
<h2> Below is the current amount of each account</h2>
<table>
	<thead>
		<th> Account Name </th>
		<th> Amount </th>
		<th></th>
	</thead>
	<tbody>
		<tr>
			<% @accounts_native.each do |a| %>
			<td> <%= link_to "#{a.name}", account_history_path(a.id)  %> </td>
			<td> <%= a.amount %></td>
			<td><%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	</tbody>
	<% end %>
</table>
<br>
<%= link_to 'Back to transactions homepage', transactions_path%>
<br>
<%= link_to 'Back to account types homepage', account_types_path%>
